body {
  margin: 0;
  padding: 40px 20px;
  background-color: skyblue;
  font-family: Tahoma;
  color: darkgreen;
}

/*Table Container*/
table {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  background: lightblue;
  color: black;
  border-radius: 10px;
  overflow: hidden;
}

/* Table Title */
caption {
  padding: 20px;
  font-size: 2.5rem;
  font-weight: 900;
  color: white;
  background-color: blue;
}


/* Header */
thead {
  background: darkgreen;
  color: gold;
}

th {
  padding: 14px 18px;
  text-align: left;
  text-transform: uppercase;'
}

td {
  padding: 14px 18px;
  border-bottom: 1px solid gold;
}

tfoot {
  background-color: green;
  color: gold;
  font-weight: 800;
}




          
